{% load static %} 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human-Talent-SENA</title>
    <link rel="stylesheet" href="{%static 'css/hoja_vida.css'%}">
<body>
    <nav>
        <div class="barra">
            <div class="content">
                <p class="p1">HUMAN TALENT</p>
                <p class="p2">Hoja De Vida</p>
            </div>

        </div>
    </nav>
    <main>
        <div class="info">
            <p class="titulo1">Informaciòn Peresonal</p>
            <label for="nombre" class="infop" >Nombre</label>
            <input type="text" class="inp" id="nombre" placeholder="Escriba su nombre">
            
            <label for="apellido" class="infop" id="ape">Apellidos</label>
            <input type="text" class="inp" id="apellido" placeholder="Escriba sus apellidos">
            <br>
            <br>
            <label for="direccion" class="infop">Direccion</label>
            <input type="text" class="inp" id="direccion" placeholder="Escriba su direccion">
            
            <label for="cel" class="infop">Nºcelular</label>
            <input type="number" class="inp1" id="cel" placeholder="Escriba su numero de celular">
            <br>
            <br>
            <label for="email" class="infop">Correo</label>
            <input type="email" class="inp" id="email" placeholder="Escriba su correo">
            
            <label for="fechan" class="infop" id="fecha">fecha de nacimiento</label>
            <input type="date" class="inp2" id="fechan" placeholder="Fecha de nacimiento">
            <br>
            <br>
            <label for="tipod" class="infop">Tipo de documento</label>
            <select name="tipod" id="tipod" class="inp2">
                <option value="CC">C.C</option>
                <option value="CE">C.E</option>
                <option value="PAS">PAS</option>
                <option value="TI">TI</option>
            </select>
            
            <label for="ncc" class="infop" id="doc">Nº de documento</label>
            <input type="number" class="inp1" id="ncc" placeholder="Escriba su numero de documento">
            <br>
            <br>
            <label for="genero" class="infop">Genero</label>
            <select name="genero" id="genero" class="inp2">
                <option value="select">Seleccionar</option>
                <option value="masculino">Masculino</option>
                <option value="femenino">Femenino</option>
                <option value="otro">Otro</option>
            </select>
            
            <label for="edad" class="infop" id="ed">Edad</label>
            <input type="number" class="inp1" id="edad" placeholder="Escriba su edad">
            
            <label for="civil" class="infop" id="estado">Estado civil</label>
            <select name="civil" id="civil" class="inp2">
                <option value="select">Seleccionar</option>
                <option value="casado">Casado</option>
                <option value="union">Union libre</option>
                <option value="soltero">Soltero</option>
            </select>
        </div>
    </main>
</body>