{% load static %} 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human-Talent-SENA</title>
    <link rel="stylesheet" href="{%static 'css/hoja_vida.css'%}">
    <link rel="icon" type="image/x-icon" href="{% static "img/logo.ico" %}">
</head>

<body class="hidden">
    <div class="centrado" id="onload">	
        <div class="cssload-loader">HUMAN TALENT</div>
    </div>
    
    <div class="capa"></div>
    
    <nav>
        <div class="barra">
            <div class="content">
                <a href="{%url 'index'%}">
                <p class="p1">HUMAN TALENT <br> Hoja De Vida</p>    
                </a>
            </div>

        </div>
    </nav>
    <main>
            <div class="info">
                <p class="titulo1">Información Peresonal</p>
                
                <label for="nombre" class="infop" >Nombre</label>
                <input type="text" name="nombre" class="inp" id="nombre" placeholder="Escriba su nombre">
                
                <label for="apellido" class="infop" id="ape">Apellidos</label>
                <input type="text" name="apellido" class="inp" id="apellido" placeholder="Escriba sus apellidos">
                <br>
                <br>
                <label for="direccion" class="infop">Direccion</label>
                <input type="text" name="direccion" class="inp" id="direccion" placeholder="Escriba su direccion">
                
                <label for="cel" class="infop">Nºcelular</label>
                <input type="number" name="cel" class="inp1" id="cel" placeholder="Escriba su numero de celular">
                <br>
                <br>
                <label for="email" class="infop">Correo</label>
                <input type="email" name="email" class="inp" id="email" placeholder="Escriba su correo">
                
                <label for="fechan" class="infop" id="fecha">fecha de nacimiento</label>
                <input type="date" name="fnacimiento" class="inp2" id="fechan">
                <br>
                <br>
                <label for="tipod" class="infop">Tipo de documento</label>
                <select name="tipod" id="tipod" class="inp2">
                    <option value="CC">C.C</option>
                    <option value="CE">C.E</option>
                    <option value="PAS">PAS</option>
                    <option value="TI">TI</option>
                </select>
                
                <label for="ncc" class="infop" id="doc">Nº de documento</label>
                <input type="number" name="ndoc" class="inp1" id="ncc" placeholder="Escriba su numero de documento">
                <br>
                <br>
                <label for="genero" class="infop">Genero</label>
                <select name="genero" id="genero" class="inp2">
                    <option value="select">Seleccionar</option>
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                    <option value="otro">Otro</option>
                </select>
                
                <label for="edad" class="infop" id="ed">Edad</label>
                <input type="number" name="edad" class="inp1" id="edad" placeholder="Escriba su edad">
                
                <label for="civil" class="infop" id="estado">Estado civil</label>
                <select name="civil" id="civil" class="inp2">
                    <option value="select">Seleccionar</option>
                    <option value="casado">Casado</option>
                    <option value="union">Union libre</option>
                    <option value="soltero">Soltero</option>
                </select>
                <br>
                <br>
                <p class="titulo2">No olvide guardar sus datos </p>
                <a href="#" class="titulo1" id="guardar" style="margin:20px ;  border: 3px solid #fff; border-radius:20px; padding:5px ;">Guardar</a>
            </div>


            <div class="info">
                <p class="titulo1">Educación</p>
                
                    <p class="titulo2">Institucion</p>

                <label for="titulo" class="infop">Titulo obtenido</label>
                <input type="file" name="pdft" class="inp3" id="img" accept=".pdf" style="display: none;" >
                <button id="boton-seleccionar" style="margin-left: 15px;">Seleccionar su pdf</button>
                
                <label for="cole" class="infop" id="col">Institucion</label>
                <input type="text" name="ins" class="inp" id="cole" placeholder="Escriba su nombre de la Institucion">
                <br>
                <br>
                <label for="añ" class="infop">Año de gradución</label>
                <input type="date" name="añig" class="inp2" id="añ">
                
                <label for="tim" class="infop" id="tie">timpo en la institucion</label>
                <input type="number" name="tins" class="inp1" id="tim" placeholder="Escriba el timpo que permanecion en la institucion">
                <br>
                <br>
                <br>
                <p class="titulo2">No olvide guardar sus datos </p>
                <a href="#" class="titulo1" id="guardar" style="margin:20px ;  border: 3px solid #fff; border-radius:20px; padding:5px ; ">Guardar</a>
                <a href="#" class="titulo1" id="agregar" style="border: 3px solid #fff; border-radius:20px; padding:5px ;  ">Agregar</a>
                <a href="#" class="titulo1" id="eliminar" style="margin:20px ;  border: 3px solid #fff; border-radius:20px; padding:5px ; ">Eliminar</a>
            </div>
            
            <div class="info">
                <p class="titulo1">Experiencia laboral</p>

                <p class="titulo2">Empresa</p>

                <label for="emp" class="infop">Empresa</label>
                <input type="text" name="emp" class="inp" id="emp" placeholder="Escriba nombre de la empresa">
                
                
                <label for="car" class="infop" id="car">Cargo</label>
                <input type="text" name="car" id="car" placeholder="Escriba el cargo que desempreño">
                <br>
                <br>
                <label for="fechai" class="infop">Fecha de inicio</label>
                <input type="date" name="fini" class="inp2" id="fechai">
                
                <label for="fechaf" class="infop">Fecha de FInalización</label>
                <input type="date" name="ffin" class="inp2" id="fechaf">
                <br>
                <br>
                <label for="dsr" class="infop">Describa sus fuciones</label>
                <textarea name="descripcion" id="dsr" placeholder="Ingrese una descripción larga"></textarea>
                <br>
                <br>
                <br>
                <p class="titulo2">No olvide guardar sus datos </p>
                <a href="#" class="titulo1" id="guardar" style="margin:20px ;  border: 3px solid #fff; border-radius:20px; padding:5px ; ">Guardar</a>
                <a href="#" class="titulo1" id="agregar" style="border: 3px solid #fff; border-radius:20px; padding:5px ;  ">Agregar</a>
                <a href="#" class="titulo1" id="eliminar" style="margin:20px ;  border: 3px solid #fff; border-radius:20px; padding:5px ; ">Eliminar</a>
            </div>


            <div class="info">
                <p class="titulo1">Otros datos</p>

                <p class="titulo2">Referencias personales</p>

                <label for="nombre" class="infop" >Nombre</label>
                <input type="text" name="nombre" class="inp" id="nombre" placeholder="Escriba el nombre">
                
                <label for="apellido" class="infop" id="ape">Apellidos</label>
                <input type="text" name="apellido" class="inp" id="apellido" placeholder="Escriba los apellidos">
                <br>
                <br>
                <label for="direccion" class="infop">Direccion</label>
                <input type="text" name="direccion" class="inp" id="direccion" placeholder="Escriba la direccion">
                
                <label for="cel" class="infop">Nºcelular</label>
                <input type="number" name="cel" class="inp1" id="cel" placeholder="Escriba el numero de celular">
                <br>
                <br>
                <br>
                <label for="nombre" class="infop" >Nombre</label>
                <input type="text" name="nombre1" class="inp" id="nombre" placeholder="Escriba el nombre">
                
                <label for="apellido" class="infop" id="ape">Apellidos</label>
                <input type="text" name="apellido1" class="inp" id="apellido" placeholder="Escriba los apellidos">
                <br>
                <br>
                <label for="direccion" class="infop">Direccion</label>
                <input type="text" name="direccion1" class="inp" id="direccion" placeholder="Escriba la direccion">
                
                <label for="cel" class="infop">Nºcelular</label>
                <input type="number" name="cel1" class="inp1" id="cel" placeholder="Escriba el numero de celular">
                <br>
                <br>
                <p class="titulo2">Referencias empresariales</p>

                <label for="empr" class="infop" >Empresa</label>
                <input type="text" name="emp" class="inp" id="empr" placeholder="Escriba el nombre de la empresa">
                
                <label for="nombref" class="infop" id="ape">Nombre jefe</label>
                <input type="text" name="njef" class="inp" id="nombref" placeholder="Escriba el nombre de su jefe inmediato">
                <br>
                <br>
                <label for="direccion" class="infop">Direccion</label>
                <input type="text" name="dira" class="inp" id="direccion" placeholder="Escriba la direccion de la empresa">
                
                <label for="tel" class="infop" id="telf">Nºtelefono</label>
                <input type="number" name="tel" class="inp1" id="tel" placeholder="Escriba su numero de telefonoi de la empresa">
                <br>
                <br>
                <br>

                <label for="empr" class="infop" >Empresa</label>
                <input type="text" name="emp1" class="inp" id="empr" placeholder="Escriba el nombre de la empresa">
                
                <label for="nombref" class="infop" id="ape">Nombre jefe</label>
                <input type="text" name="njef1" class="inp" id="nombref" placeholder="Escriba el nombre de su jefe inmediato">
                <br>
                <br>
                <label for="direccion" class="infop">Direccion</label>
                <input type="text" name="dire1" class="inp" id="direccion" placeholder="Escriba la direccion de la empresa">
                
                <label for="tel" class="infop" id="telf">Nºtelefono</label>
                <input type="number" name="tel1" class="inp1" id="tel" placeholder="Escriba su numero de telefonoi de la empresa">
                <br>
                <br> 
                <p class="titulo2">No olvide guardar sus datos </p>
                <a href="#" class="titulo1" id="guardar" style="margin:20px ;  border: 3px solid #fff; border-radius:20px; padding:5px ;">Guardar</a>
            </div>


            <div class="info">
                <p class="titulo1">Informacion adicional</p>
                <br>
                <textarea name="infoa" id="infoa" placeholder="En este campo puede agregar informacion adicional a la solicitada"></textarea>
                <br>
                <br>
                <p class="titulo2">No olvide guardar sus datos </p>
                <a href="#" class="titulo1" id="guardar" style="margin:20px ;  border: 3px solid #fff; border-radius:20px; padding:5px ;">Guardar</a>
            </div>



        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="/static/js/loader.js"></script>

        </form>
    </main>
</body>